html,body { }
body.animate {height: 1862px;background: url(/img/bg.jpg) no-repeat 0 0;position: relative;}
.thing {position: absolute;background-repeat: no-repeat; background-position:0 0;}
.girl-sad {bottom: 4px;left: 24px;}
.girl-smile {bottom: 10px;left: 68px;}
.girl-big-smile {bottom: 10px;left: 68px;}
.txt-1 {left: 523px;top: 1377px;}
.txt-2 {left: 34px;top: 151px;}
.txt-3 {left: 352px;top: 310px; }
.txt-4 {left: 234px;top: 469px;}
.txt-5 {left: 34px;top: 151px;}
.txt-6 {left: 569px;top: 1385px;}
.txt-7 {left: 569px;top: 1385px;}
.txt-8 {left: 389px;top: 250px;}
.red-bottle {left: 419px;top: 132px; }
.red-bottle-lid {left: 35px;top: -16px;}
.blue-bottle {left: 582px;top: 132px;}
.blue-bottle-lid {left: 37px;top: -16px;}
.bubble {left: 36px;top: 622px;}
.droplet-red-img {left: 236px;top: 352px; width: 100px;height: 100px;background-image: url(/img/droplet-red.gif); background-size: 100px 100px;}
.droplet-blue-img {left: 236px;top: 352px;  width: 100px;height: 100px;background-image: url(/img/droplet-blue.gif); background-size: 100px 100px;}
.pipe-red {left: 37px;top: 534px; }
.pipe-blue {left: 37px;top: 534px; }
.blue-bottle-incling {left: 0;top: 0; }
div[class*=txt-step] {left: 34px;top: 151px;color: #e93e74; font-size: 35px;}
div[class*=txt-step] h4 {font-size: 45px;margin: 0 0 20px;}
div.txt-step2 {left: 34px;top: 151px; color: #0383b7}

#index-page {}
#index-page .go{left: 288px; top: 461px;}
#index-page .index-girl{left: 228px; top: 731px;}
#index-page .blue-bottle{left: 188px; top: 641px;
 }
#index-page .red-bottle{left: 458px; top: 626px; 
}


#product-page{}
#product-page .tmall-link {left: 190px;top: 1030px;}
