html,body { }
body.animate {height: 1862px;background: url(/img/bg.jpg) no-repeat 0 0;position: relative;}
.thing {position: absolute;background-repeat: no-repeat; background-position:0 0;}
.girl-sad {bottom: 4px;left: 24px;}
.girl-smile {bottom: 10px;left: 68px;}
.girl-big-smile {bottom: 10px;left: 68px;}
.txt-1 {left: 523px;top: 1377px;}
.txt-2 {left: 34px;top: 151px;}
.txt-3 {left: 352px;top: 310px; }
.txt-4 {left: 234px;top: 469px;}
.txt-5 {left: 34px;top: 151px;}
.txt-6 {left: 569px;top: 1385px;}
.txt-7 {left: 569px;top: 1385px;}
.txt-8 {left: 389px;top: 250px;}
.red-bottle {left: 349px;top: 67px; }
.red-bottle-lid {left: 112px;top: 75px;}
.blue-bottle {left: 612px;top: 252px;}
.bubble {left: 36px;top: 622px;}
.droplet-red {left: 236px;top: 352px; }
.droplet-blue {left: 236px;top: 352px; }
.pipe-red {left: 37px;top: 534px; }
.pipe-blue {left: 37px;top: 534px; }
.blue-bottle-incling {left: 0;top: 0; }


